	
# (1) where are your processing libraries located?

processing=/Users/someuser/Documents/Processing/libraries


# (2) where are the jar files located that are required for compiling 
# your library such as e.g. core.jar

libraryClasspath=lib
	

# (4) set the java version that should be used to compile your library.	
javaVersion=1.5


# The following items are properties that will be used to make changes to 
# the html document template. values of properties will be 
# implemented into the document automatically.	
				
# (5) who is the author of this library?  edit value.
author=yourNameHere

	
# (6) which copyright?
copyright=(c) 2008
	
	
# (7) what is the name of your library?

libraryName=some library


# (8) give your library a name.

versionNumber=0.1.1
	

# (9) your contact url.
yourLink=http://www.processing.org

	
# (10) a comma separated list of keywords describing your library.
keywords=?

# (10.5) open source license that your library is released under
license=?
	
# (11) a comma separated list of platforms the library has been tested.
tested_platform=?


# (12) the processing version this library has been tested with.
tested_processingVersion=?


# (13) does the library depend on any other library, dll, jnilib, etc.
tested_dependencies=?

	
# (14) where can the source code be found?
source_host=google code
source_url=http://code.google.com/p/yourProject
source_repository=http://code.google.com/p/yourProject/source/browse/
	